cicdmarch/src/main/mule/cicdmarch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9da50163-8313-4885-8dd2-fda3f336bca9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdmarchFlow" doc:id="9a7bc4d2-22bd-45db-98cb-3d1115fbcfce" >
		<http:listener doc:name="Listener" doc:id="7e58a191-1ad5-46b0-a93b-cc29a607ee98" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["code is available in GITHUB"]' doc:name="Set Payload" doc:id="a5966786-d530-4b5d-978b-1acce04cacd7" />
	</flow>
</mule>
